{% extends ":"~template~":base.html.twig" %}

{% block content %}
    <div data-section-wrapper class="header">
        <center>
            <table data-section  class="w320 header-enable">
                <tr>
                    <td>
                        <center>
                            <table style="width:50%;float: left;" >
                                <tr>
                                    <td style="text-align:center" data-slot-container>
                                        <div data-slot="text">
                                            <a href="https://www.outboundops.com/" class="x-brand img">
                                                <img src="{{ getAssetUrl('themes/'~template~'/img/logo.gif', null, null, true) }}">
                                            </a>
                                        </div>
                                    </td>
                                </tr>    
                            </table>
                            <table style="width:50%;float: right;" >
                                <tr>
                                    <td style="text-align:center" data-slot-container>
                                        <div data-slot="text">
                                            <nav class="x-nav-wrap" role="navigation">
                                                <ul id="menu-main-menu" class="x-nav">
                                                    <li id="menu-item-65" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-65">
                                                        <a href="http://www.outboundops.com"><span>Home</span></a>
                                                    </li>
                                                    <li id="menu-item-340" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340">  
                                                        <a href="https://www.outboundops.com/services/"><span>Services</span></a>
                                                    </li>
                                                    <li id="menu-item-215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215">
                                                        <a href="https://www.outboundops.com/about/"><span>About</span></a>
                                                    </li>
                                                    <li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428">
                                                        <a href="https://www.outboundops.com/blog/"><span>Blog</span></a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </td>
                                </tr>    
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <div data-section-wrapper class="texthere">
        <center>
            <table data-section style="width: 90%;" width="90%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <div data-slot-container style="min-height: 500px">
                                <div data-slot="text">
                                    <br>
                                    <h2>Hello there!</h2>
                                    <br>
                                    We haven't heard from you for a while...
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
    <div data-section-wrapper  class="footer">
        <center>
            <table data-section class="w320 footer-sector">
                <tr>
                    <td>
                        <table class="site-link" >
                            <tr>
                                <td  data-slot-container>
                                    <div data-slot="text">
                                        <a href="https://twitter.com/OutboundOps">
                                            <img width="61" height="57" src="{{ getAssetUrl('themes/'~template~'/img/twitter.gif', null, null, true) }}" alt="twitter" />
                                        </a>
                                        <a href="https://www.linkedin.com/company/outboundops">
                                            <img width="61" height="57" src="{{ getAssetUrl('themes/'~template~'/img/linkedIn.gif', null, null, true) }}" alt="linkedin" />
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>
                            <table class="menu-link">
                                <tr>
                                    <td data-slot-container>
                                        <div data-slot="text">
                                                <a href="http://www.outboundops.com" class="menu-link-item">HOME </a>
                                        </div>
                                    </td>
                                    <td style="color: hsl(46,31%,79%)">/</td>
                                    <td data-slot-container>
                                        <div data-slot="text">
                                            <a href="https://www.outboundops.com/services/" class="menu-link-item"> SERVICES </a>
                                        </div>
                                    </td> 
                                    <td style="color: hsl(46,31%,79%)">/</td>
                                    <td data-slot-container>
                                            <div data-slot="text">
                                                <a href="https://www.outboundops.com/about/" class="menu-link-item"> ABOUT </a>
                                            </div>
                                    </td>
                                    <td style="color: hsl(46,31%,79%)">/</td>
                                    <td data-slot-container>
                                            <div data-slot="text">
                                                <a href="https://www.outboundops.com/blog/" class="menu-link-item"> BLOG</a>
                                            </div>
                                    </td>
                                </tr>    
                            </table>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>
                            <table style="margin:0 auto;"  width="100%">
                                <tr>
                                    <td style="text-align:center; margin:0 auto;" width="100%" data-slot-container>
                                        <div data-slot="text"  style="color: hsl(46,31%,79%)">
                                            <p> OutboundOps 2016 </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
        </center>
    </div>
{% endblock %}
